@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@100;300;400;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.playfair {
  font-family: 'Playfair Display', serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size:  3.5rem !important;
}
h2 {
  font-size: 2.2rem !important;
}
h3 {
  font-size: 1.5rem !important;
}
h4 {
  font-size: 1.3rem !important;
}
h5 {
  font-size: 1rem !important;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size:  3.2rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
  h3 {
    font-size: 1.3rem !important;
  }
  h4 {
    font-size: 1.1rem !important;
  }
  h5 {
    font-size: 0.9rem !important;
  }
}
#__next {
  background-color: #112138;
}
/* logo */
.hexagon {
  position: relative;
  width: 50px;
  height: 28.87px;
  margin: 14.43px 0;
  background-image: url();
  background-size: auto 51.9615px;
  background-position: center;
  border-left: solid 2.5px #00a3e1;
  border-right: solid 2.5px #00a3e1;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 4.82px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 45.0000px;
  height: 25.980762113533164px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-12.9904px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-12.9904px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-12.9904px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -18.6777px;
  border-top: solid 3.5355px #00a3e1;
  border-right: solid 3.5355px #00a3e1;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -17.6777px;
  border-bottom: solid 3.5355px #00a3e1;
  border-left: solid 3.5355px #00a3e1;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 1.4434px;
  left: 0;
  width: 45.0000px;
  height: 25.9808px;
  z-index: 2;
  background: inherit;
}

.fl {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}

/* hamburger button */
.open .hamburger-top {
  transform: rotate(45deg) translate(6px, 6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translate(-6px, 6px);
}
/* sideMenu open close */
.sideMenu {
  transform: translateX(100%);
  transition: all 0.3s;
}
.sideMenu.open {
  transform: translateX(0);
}

.designation {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  color: #00A3E1;
  font-weight: bold;
  transform: translateX(100%);
  transition: all 0.8s ease-in-out;
}
.designation.is-visible {
  opacity: 1;
  right: auto;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: all 0.8s ease-in-out;
}
.designation.is-visible::after {
  content: '';
  position: absolute;
  right: -10px;
  height: 100%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
.services_heading {
  @apply  text-center relative w-[200px] mx-auto border-b-2 border-customTeal-700 before:h-[5px] before:w-[2px] before:absolute before:bottom-0 before:left-0 before:bg-customTeal-700 after:h-[5px] after:w-[2px] after:absolute after:bottom-0 after:right-0 after:bg-customTeal-700
}